<nav>
    <div class="site-title">

        <a href="/"> Blog Ninja</a>
        <p> Presented By Sachin Baral</p>
    </div>

    <ul>
        <li><a href="/"> Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/new/create"> New Blog</a></li>
    </ul>
</nav>
