<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>


<div class="about content">
    <h2> About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut culpa debitis deserunt dolores esse laborum nostrum
        numquam officia, pariatur perferendis placeat possimus ratione reprehenderit rerum tenetur totam voluptates!
        Consequuntur, eaque.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis distinctio dolorem eaque ex excepturi fugiat
        incidunt iure, minima modi nemo nesciunt nihil nisi, odio officiis, omnis perferendis quisquam rerum velit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias assumenda consectetur cum, dolore ea,
        esse ex id illum incidunt itaque maiores molestiae nihil nulla perferendis, quas quisquam rerum voluptates.</p>
</div>
<%- include('./partials/footer.ejs') %>

</body>
</html>